
html, body, section, .full-height {
  height: 100%;
}

#success_alert{
  margin: 0px;
  visibility: hidden;
}

.container-fluid{
  width: 100%;
  padding: 0;
}
section{
  padding: 15px;
}
nav {
  margin-bottom: 5px;
  width: 100%;
  border: 0;
}

#pad{
  font-family: Menlno, Monaco, Consolas, "Courier New", monospace;

  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#markdown {
  overflow: auto;
  border-left: 1px solid black;
}
